<mat-card class="example-card">
    <mat-card-header>
        <div [ngStyle]="{'background-image': 'url('+ env.baseUrl + post.author_image +')'}" mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{post.author}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img (click)="zoomImg()" mat-card-image [src]="env.baseUrl + post.image" [alt]="'Photo of a ' + post.author">
    <mat-card-content>
        <p>{{post.title}}</p>
    </mat-card-content>
</mat-card>
    