<div class="container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
    <div class="menu">
        <a>
            <mat-icon>power_settings_new</mat-icon>
            Logout
        </a>
        <a routerLink="add-post" routerLinkActive="active">
            <mat-icon>post_add</mat-icon>
            Add post
        </a>
        <a routerLink="feeds" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            Feeds
        </a>
    </div>
</div>
