<div class="container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
    <div class="menu">
        <a>
            <mat-icon>power_settings_new</mat-icon>
            Logout
        </a>
        <a routerLink="add-post" routerLinkActive="active">
            <mat-icon>post_add</mat-icon>
            Add post
        </a>
        <a routerLink="feeds" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            Feeds
        </a>
    </div>
    <div class="notification">
        <button class="trigger" [ngStyle]="{'background-color': notifications.length > 0 ? '#ff4081' : '#6B92A4'}" mat-button [matMenuTriggerFor]="menu"><mat-icon>{{ notifications.length > 0 ? 'notifications_active' : 'notifications' }}</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let notification of notifications" mat-menu-item></button>
        </mat-menu>
    </div>
</div>
