<form (ngSubmit)="createPost()" [formGroup]="newPostForm">
    <div class="img">
        <div>
            <a class="r-link ai-element ai-element_type1 ai-element1">
                <span class="ai-element__label">Upload a photo</span>
                <input formControlName="image" (change)="displayProfile(file.files)" #file type="file" accept="image/*">
            </a>
            <a (click)="triggerCamera()" class="r-link ai-element ai-element_type1 ai-element1">
                <span class="ai-element__label">Take a photo</span>
            </a>
        </div>
        <div *ngIf="profileImg" class="imgPrew">
            <img class="profileImg" [src]="profileImg" alt="profileImg">
            <mat-icon (click)="profileImg = null">close</mat-icon>
        </div>

        <mat-form-field class="example-full-width">
            <textarea [class.error]="title.invalid && title.touched" formControlName="title" rows="7" matInput placeholder="Add a description"></textarea>
        </mat-form-field>
    </div>

    <button type="submit" class="submit-btn">Add post</button>
</form>